.page2{
    display: flex; flex-direction: column;width: 100%; height: 100%; background: #f4f4f4;
     // header
    header{
        height: 0.5rem; background: #f4f4f4; left: 0; top: 0; width: 100%; display: flex; align-items: center;justify-content: space-around;
        .left_{
            font-size: 0.25rem; width: 0.35rem; margin: 0 0 0 0.05rem; font-family: "宋体"; font-weight: 600;  text-align: center; color: #666;
        }
        .top{
            width: 3.35rem; height: 0.3rem; background: #fff;border-radius: 1rem; display: flex; line-height: 0.3rem; border: 1px solid #ccc;
            input{
                 color: #f4d0d6;  border: none; width: 2.5rem;line-height: 0.3rem; margin-left: 15px; font-size: 12px; text-align: center;
            }
            span{
                width: 0.3rem; height: 0.3rem; text-align: center; line-height: 0.3rem; color: #ca0e25; font-size: 0.16rem; position: absolute; left: 3.3rem;
            }
        }  
        .dao_hang{
            width: 0.5rem; height: 0.3rem; text-align: center; line-height: 0.3rem; color: inherit; padding: 0 0.05rem;
        } 
    }
    
    
    // section
    section{
        flex: 1; width: 100%; overflow-y: auto; background: #fff; margin-top: 0.1rem;
        .main_top{
            height: 0.8rem; background: #fff;
           
        }
        .main_mid{
            height: 0.5rem; background: #f4f4f4;
        }
        .main_mid{
            display: flex; justify-content: space-around;
            p{
                width: 95%; height: 36px; border: 1px solid #ca0e25; font-size: 12px; border-radius: 0.05rem; line-height: 0.36rem; display: flex; text-align: center; vertical-align: middle; margin-top: 0.07rem;
                a{
                    width: 20%; display: inline-block;
                }
            }
        }
        .main_bot{
            ul{
                display: flex; flex-wrap: wrap; justify-content: space-around; padding-top: 0.1rem;
                li{
                    width: 45%; border: 1px solid #ccc; margin-bottom: 0.1rem;
                    a{
                        img{
                            width: 100%; min-height: 2rem;
                        }
                        p:nth-of-type(1){
                            text-align: center; font-size: 14px; color: #444; height: 0.4rem; line-height: 0.4rem;
                        }
                        p:nth-of-type(2){
                            text-align: center;font-size: 0.15rem; color: #f00909; padding: 0.1rem 0;   
                        }
                    }
                }
            }
        }
        aside{
            p:nth-of-type(1){
                position: fixed; bottom: 1rem; font-size: 0.45rem; right: 0.1rem; color: #0086B3;
            }
            p:nth-of-type(2){
                position: fixed; bottom: 0.6rem; font-size: 0.4rem; right: 0.13rem; color: #DF5000;
            }
        }
        .menu{
            width: 100%; height: 100%; background: rgba(0,0,0,0.7); z-index: 100; position: fixed; right: -450px; top: 0; transition: all 2s;
            .list_tit{
                width: 80%; height: 100%; background: #fff; z-index: 101; float: right; transition:all 2s;
            }
        } 
        .show{
            right: 0; z-index: 100;
        }
    }
    
}